
  <header>
    <%= link_to 'Random Note', random_path, :class => "effect-shine"%>
    <h1> <%= title 'Every Single Note Ever' %></h1>
    <%= link_to 'Leave A Note', root_path, :class => "effect-shine" %>
  </header>

    <section class="allnotesz">
      <div class="allnotes">
        <% @notes.order('created_at desc').each do |note| %>

          <%=link_to note_path(note) do %>
            <div class="notes">
              <h2><%= simple_format note.body %></h2>
            </div>
          <% end %>

        <% end %>
      </div>
    </section>

  <footer>
    <p><%= link_to "Created by: Briana Gude", "www.brianabriana.com", :target => "_blank" %></p>
  </footer>
