
  <header>
    <%= link_to 'Random Note', rand_path %>
    <h1> Every Single Note Ever</h1>
    <%= link_to 'Leave A Note', root_path %>
  </header>


  <main>
    <section>
    <div class="allnotes">
      <% @notes.order('created_at desc').each do |note| %>


        <%=link_to note_path(note) do %>
          <div class="notes">
            <h2><%= note.body %></h2>
          </div>
        <% end %>


      <!-- <p class="posted"><%= time_ago_in_words note.created_at %> ago</p> -->
      <% end %>

    </div>
    </section>
  </main>


<script src="skew.js"></script>
