
  <header>
    <%= link_to 'Random Note', random_path%>
    <h1><%= link_to 'Note That', root_path%></h1>
    <h5>Note That</h5>
    <%= link_to 'New Note', root_path%>
  </header>

  <div class="headerm">
    <%= link_to 'Random Note', random_path%>
    <%= link_to 'New Note', root_path%>
  </div>

  <div class="allnotes">
    <% @notes.order('created_at desc').each do |note| %>

      <%=link_to note_path(note) do %>
        <div class="notes desktop">
          <h2> <%= simple_format truncate(note.body, :length => 100) %> </h2>
        </div>
        <div class="notes mobile">
          <h2> <%= simple_format truncate(note.body, :length => 25) %> </h2>
        </div>
      <% end %>

    <% end %>
  </div>

  <%= render 'footer' %>
