<header>
  <div class="container">
    <%= link_to 'Random', random_path%>
    <h2> <%= title 'Leave A Note' %></h2>
    <%= link_to 'All', all_path%>
  </div>
</header>

<%= render 'createnote' %>
<%= render 'footer' %>
